* {
    margin: 0;
    box-sizing: border-box;
}

.item {
    width: 200px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
    
    &:nth-child(1),
    &:nth-child(2) {
        width: 99%;
        left: 8px;
        height: 93%;
        transform: none;
        border-radius: 0;
        box-shadow: none;
        opacity: 1;
        margin-top: -5px;
        border-radius: 24px;        
        cursor: pointer;
        border: 3px solid #D38B5D;

    } 

    &:nth-child(3) {
        left: calc(52% + 100px);
    }

    &:nth-child(4) {
        left: calc(70% + 110px);
    }

    &:nth-child(5) {
        opacity: 0;
        left: calc(50% + 440px);
    }

    &:nth-child(6) {
        left: calc(50% + 660px);
        opacity: 0;
    }
}

.divClickContent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
    opacity: 0;
    display: none;
}

.divClickContent h2{
    color: #eec19e;
    font-family: "F1Font";
    font-weight: 200;
    font-size: large;
}


.item:nth-of-type(2):hover .divClickContent{
    width: 100%;
    height: 100%;
    z-index: 9999;
    border-radius: 24px;
    background-color: #0b0b0b5a;
    opacity: 1;
    animation: fadeIn 1s ease forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}


.item:nth-of-type(2):hover .content{
    animation: fade-in-blur 1s ease forwards;
}

.content {
    width: min(30vw, 400px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica, sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: none;

    & .title {
        text-transform: uppercase;
        font-family: "F1Font";
    }

    & .description {
        line-height: 1.7;
        margin: 1rem 0 1.5rem;
        font-size: 0.8rem;
        font-family: "F1Font";

    }

    & button {
        width: fit-content;
        background-color: rgba(0, 0, 0, 0.1);
        color: white;
        border: 2px solid white;
        border-radius: 0.25rem;
        padding: 0.75rem;
        cursor: pointer;
    }
}

.item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes fade-in-blur {
    100% {
      filter: blur(5px); 
      opacity: 1; 
    }
  }

  @keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes show {
    0% {
        filter: blur(5px);
        transform: translateY(calc(-50% + 75px));
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.nav {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;
    height: 45px;
    width: 110px;
    margin-bottom: 10px;

    & .btn {
        width: 50%;
        background-color: rgb(233 233 233 / 45%);
        color: rgba(0, 0, 0, 0.7);
        border: 2px solid rgba(0, 0, 0, 0.6);
        margin: 5px;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
}

.divNavBtnsContainer{
    display: flex;
}

@media (max-width: 2190px) {
    .item {
        &:nth-child(3) {
            left: calc(49% + 100px);
        }

        &:nth-child(4) {
            left: calc(68% + 110px);
        }
    }
}

@media (max-width: 2040px) {
    .item {
        &:nth-child(3) {
            left: calc(46% + 100px);
        }

        &:nth-child(4) {
            left: calc(66% + 110px);
        }
    }
}

@media (max-width: 1940px) {
    .item {
        &:nth-child(3) {
            left: calc(42% + 100px);
        }

        &:nth-child(4) {
            left: calc(63% + 110px);
        }
    }
}

@media (max-width: 1870px) {
    .item {
        &:nth-child(3) {
            left: calc(40% + 100px);
        }
    }
}

@media (max-width: 1760px) {
    .item {
        &:nth-child(3) {
            left: calc(38% + 100px);
        }

        &:nth-child(4) {
            left: calc(61% + 110px);
        }
    }
}

@media (max-width: 1700px) {
    .item {
        &:nth-child(3) {
            left: calc(35% + 100px);
        }

        &:nth-child(4) {
            left: calc(59% + 110px);
        }
    }
}

@media (max-width: 1630px) {
    .item {
        &:nth-child(3) {
            left: calc(33% + 100px);
        }
    }
}

@media (max-width: 1590px) {
    .item {
        &:nth-child(3) {
            left: calc(30% + 100px);
        }

        &:nth-child(4) {
            left: calc(56% + 110px);
        }
    }
}

@media (max-width: 1540px) {
    .item {
        &:nth-child(3) {
            left: calc(29% + 100px);
        }

        &:nth-child(4) {
            left: calc(55% + 110px);
        }
    }

}

@media (max-width: 1500px) {
    .item {
        &:nth-child(3) {
            left: calc(27% + 100px);
        }
    }
}

@media (width > 650px) and (width < 1420px) {
    .content {
        & .title {
            font-size: 1rem;
        }

        & .description {
            font-size: 0.7rem;
        }

        & button {
            font-size: 0.7rem;
        }
    }

    .item {
        width: 160px;
        height: 270px;

        &:nth-child(3) {
            left: 50%;
        }

        &:nth-child(4) {
            left: calc(50% + 170px);
        }

        &:nth-child(5) {
            left: calc(50% + 340px);
            opacity: 0;
        }

        &:nth-child(6) {
            left: calc(50% + 510px);
            opacity: 0;
        }
    }
}

@media (max-width: 1340px) {
    .item {
        &:nth-child(3) {
            left: calc(29% + 100px);
        }

        &:nth-child(4) {
            left: calc(54% + 110px);
        }
    }

}

@media (max-width: 1240px) {
    .item {
        &:nth-child(3) {
            left: calc(25% + 100px);
        }

        &:nth-child(4) {
            left: calc(51% + 110px);
        }
    }

}

@media (max-width: 1190px) {
    .item {
        &:nth-child(3) {
            left: calc(21% + 100px);
        }

        &:nth-child(4) {
            left: calc(49% + 110px);
        }
    }

}

@media (max-width: 1130px) {
    .item {
        &:nth-child(3) {
            left: calc(29% + 100px);
        }

        &:nth-child(4) {
            left: calc(53% + 110px);
        }
    }

}

@media (max-width: 1100px) {
    .item {
        &:nth-child(3) {
            left: calc(29% + 100px);
        }

        &:nth-child(4) {
            left: calc(53% + 110px);
        }
    }

}

@media (max-width: 1060px) {
    .item {
        &:nth-child(3) {
            left: calc(25% + 100px);
        }

        &:nth-child(4) {
            left: calc(50% + 110px);
        }
    }

}

@media (max-width: 1010px) {
    .item {
        &:nth-child(3) {
            left: calc(20% + 100px);
        }

        &:nth-child(4) {
            left: calc(46% + 110px);
        }
    }

}

@media (width < 1134px) {
    .content {
        & .title {
            font-size: 0.9rem;
        }

        & .description {
            font-size: 0.65rem;
        }

        & button {
            font-size: 0.7rem;
        }
    }

    .item {
        width: 130px;
        height: 220px;

        &:nth-child(5) {
            left: calc(50% + 280px);
        }

        &:nth-child(6) {
            left: calc(50% + 420px);
            opacity: 0;
        }
    }
}

@media(width < 500px) {
    .nav .btn {
        height: 52px;
    }
}

@media(width < 400px){
    .nav{
        width: 40%;
    }
}

@media (width < 940px) {
    .item {
        width: 130px;
        height: 220px;

        &:nth-child(3) {
            opacity: 0;
        }

        &:nth-child(4) {
            opacity: 0;
        }

        &:nth-child(5) {
            opacity: 0;
        }

        &:nth-child(6) {
            opacity: 0;
        }
    }
}

@font-face {
    font-family: 'F1Font';
    src: url('../../../assets/fonts/Formula1-Regular.otf') format('opentype');
}