html, body {
  overflow: auto;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  overflow-x: hidden;
}

body{
    background-color: #eec19e70;
}

::-webkit-scrollbar {
    width: 10px; 
    border-radius: 40px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 40px;

  }
  
  ::-webkit-scrollbar-thumb {
    background: #D38B5D; 
    border-radius: 40px;

  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #D38B5D; 
  }
  
  ::-webkit-scrollbar-horizontal {
    width: 10px; 
  }
  
  ::-webkit-scrollbar-track-horizontal {
    background: #f1f1f1; 
  }
  
  ::-webkit-scrollbar-thumb-horizontal {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb-horizontal:hover {
    background: #555; 
  }