body{
    background-color: #eec19e70;
    margin: 0;
}

/* Vertical scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Width of the vertical scrollbar */
    border-radius: 40px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 40px;

  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 40px;

  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
  }
  
  /* Horizontal scrollbar */
  ::-webkit-scrollbar-horizontal {
    width: 10px; /* Height of the horizontal scrollbar */
  }
  
  ::-webkit-scrollbar-track-horizontal {
    background: #f1f1f1; /* Color of the horizontal scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb-horizontal {
    background: #888; /* Color of the horizontal scrollbar thumb */
  }
  
  ::-webkit-scrollbar-thumb-horizontal:hover {
    background: #555; /* Color of the horizontal scrollbar thumb on hover */
  }